@font-face {
  font-family: "iconfont"; /* Project id 4260876 */
  src: url('iconfont.woff2?t=1702352814834') format('woff2'),
       url('iconfont.woff?t=1702352814834') format('woff'),
       url('iconfont.ttf?t=1702352814834') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-celiang:before {
  content: "\e630";
}

.icon-noun__cc:before {
  content: "\e613";
}

.icon-mianji:before {
  content: "\e65e";
}

.icon-mianji1:before {
  content: "\e61e";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}

.icon-tuceng:before {
  content: "\e619";
}

.icon-ruler:before {
  content: "\e768";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-xinxifill:before {
  content: "\e762";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-shouye1:before {
  content: "\e639";
}

.icon-weibo:before {
  content: "\e600";
}

.icon-weibo-fill:before {
  content: "\e645";
}

.icon-youtube:before {
  content: "\ea07";
}

.icon-youtube1:before {
  content: "\e621";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-bilibili1:before {
  content: "\e849";
}

.icon-telephone-out:before {
  content: "\e680";
}

.icon-top:before {
  content: "\e681";
}

.icon-comment-filling:before {
  content: "\e689";
}

.icon-news-filling:before {
  content: "\e68a";
}

.icon-top-filling:before {
  content: "\e68b";
}

